.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

body {
  font-family: "Roboto";
}

.App {
  display: grid;
  grid-template-columns: 170px 1fr;
  gap: 16px;
  height: 100vh;
  transition: grid-template-columns 0.3s ease;
}

.sidebar {
  position: fixed;
  width: 170px;
  transition: width 0.3s ease;
  height: 100vh;
  z-index: 100;
}

.main-section {
  margin-left: 170px;
  height: 100vh;
  width: calc(100vw - 170px);
  display: grid;
  grid-template-rows: 50px 1fr;
  overflow: auto;
  transition: margin-left 0.3s ease, width 0.3s ease;
}

.main-section.collapsed {
  margin-left: 80px;
  width: calc(100vw - 80px);
}

.header {
  position: fixed;
  width: calc(100vw - 170px);
  height: 50px;
  display: flex;
  z-index: 100;
  align-items: center;
  transition: width 0.3s ease;
}

.header.collapsed {
  width: calc(100vw - 80px);
}

.content {
  padding-top: 50px;
  height: 100vh;
  overflow-y: auto;
}
